@use "../../_styles/theme" as theme;
@import "../../_styles/include-media";

#main-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  @include media(">phone", "<=desktop") {
    flex-flow: column-reverse nowrap;
  }
}

#copyright-line {
  font-family: theme.$body-font-stack;
  font-size: 18px;
  color: map-get(theme.$colors, "surface0");
}

.social-buttons-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 24px;
}
