@use "../../../_styles/theme" as theme;

#post-header {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  margin-bottom: 32px;
}

#post-title,
#post-date {
  font-family: theme.$heading-font-stack;
  margin: 0;
  padding: 0;
}

.markdown-content {
  color: map-get(theme.$colors, "surface0");
  font-family: theme.$body-font-stack;
  font-size: 16px;
  line-height: 150%;
}

.markdown-content pre {
  padding: 16px;
  background-color: map-get(theme.$colors, "rosewater");
  font-family: theme.$body-font-stack;
  font-size: 12px;
}

.markdown-content code {
  font-size: 12px;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  margin: 48px 0px 0px 0px;
  padding: 0;
  font-family: theme.$heading-font-stack;
}

.markdown-content p a {
  color: map-get(theme.$colors, "sapphire");
  text-decoration: none;
  font-weight: theme.$font-weight-semibold;
}
