@use "../../_styles/theme" as theme;

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.pagination-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-navigation-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-family: theme.$body-font-stack;
  font-size: 18px;
  color: map-get(theme.$colors, "sapphire");
  text-decoration: none;
  text-transform: capitalize;

  &.page-number {
    &.current {
      color: map-get(theme.$colors, "surface0");
    }
  }

  &.invisible {
    visibility: hidden;
  }
}
